{
  "openapi": "3.0.1",
  "info": {
    "title": "Visa Direct Account and Wallet",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.visa.com",
      "description": "Sandbox server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Visa Direct Account and Wallet Send API",
      "description": "Visa Direct Account and Wallet Send API"
    }
  ],
  "paths": {
    "/visapayouts/v3/payouts": {
      "post": {
        "tags": [
          "Visa Direct Account and Wallet Send API"
        ],
        "summary": "Send Payout",
        "description": "This API allows an originator to send Visa a payout request to push funds with relevant sender, recipient, and recipient's bank account  or recipient's wallet information. The ISO field names provided are provided by Visa for guidance only. Clients are advised to check the ISO field mappings themselves.",
        "operationId": "SendPayout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendPayoutRequest-2"
              },
              "examples": {
                "VDA Payment Received Scenario": {
                  "summary": "VDA Payment Received Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "smith",
                      "firstName": "Jessica",
                      "bank": {
                        "bankCode": "800554",
                        "bankCodeType": "SORT_CODE",
                        "accountNumberType": "DEFAULT",
                        "accountName": "Money Market",
                        "countryCode": "GBR",
                        "bankName": "Barclays",
                        "accountNumber": "6970093",
                        "currencyCode": "GBP"
                      },
                      "address": {
                        "country": "GBR",
                        "city": "London",
                        "postalCode": "675456",
                        "addressLine1": "123 Main St",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "addressLine1": "addressline1"
                      },
                      "name": "Ben",
                      "type": "C",
                      "senderAccountNumber": "senderAccountNumber"
                    },
                    "payoutMethod": "B",
                    "transactionDetail": {
                      "initiatingPartyId": 1002,
                      "businessApplicationId": "FD",
                      "statementNarrative": "advancepayment",
                      "transactionAmount": 1.5,
                      "transactionCurrencyCode": "GBP",
                      "settlementCurrencyCode": "GBP",
                      "clientReferenceId": "888852397088",
                      "senderSourceOfFunds": "01"
                    }
                  }
                },
                "VDW Transaction Timeout Scenario": {
                  "summary": "VDW Transaction Timeout Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Do",
                      "firstName": "John",
                      "wallet": {
                        "countryCode": "UGA",
                        "accountIdentifier": "+8801888513102",
                        "accountIdentifierType": "PHONENUMBER",
                        "currencyCode": "UGX",
                        "operatorName": "AIRTEL_MONEY"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "122342",
                      "lastName": "Sender",
                      "firstName": "Ben",
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "postalCode": "111222",
                        "addressLine1": "addressline5",
                        "state": "CF"
                      },
                      "type": "I",
                      "industryCode": "1400"
                    },
                    "payoutMethod": "W",
                    "transactionDetail": {
                      "initiatingPartyId": 1003,
                      "businessApplicationId": "FD",
                      "transactionAmount": 1000,
                      "transactionCurrencyCode": "USD",
                      "endToEndId": "123456",
                      "clientReferenceId": "829149656561"
                    }
                  }
                },
                "VDA Transaction Timeout Scenario": {
                  "summary": "VDA Transaction Timeout Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "smith",
                      "firstName": "Jessica",
                      "bank": {
                        "bankCode": "800554",
                        "bankCodeType": "SORT_CODE",
                        "accountNumberType": "DEFAULT",
                        "accountName": "Money Market",
                        "countryCode": "GBR",
                        "bankName": "Barclays",
                        "accountNumber": "6970095",
                        "currencyCode": "GBP"
                      },
                      "address": {
                        "country": "GBR",
                        "city": "London",
                        "postalCode": "675456",
                        "addressLine1": "123 Main St",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "addressLine1": "addressline1"
                      },
                      "name": "Ben",
                      "type": "C",
                      "senderAccountNumber": "senderAccountNumber"
                    },
                    "payoutMethod": "B",
                    "transactionDetail": {
                      "initiatingPartyId": 1002,
                      "businessApplicationId": "FD",
                      "statementNarrative": "advancepayment",
                      "transactionAmount": 1.5,
                      "transactionCurrencyCode": "GBP",
                      "settlementCurrencyCode": "GBP",
                      "clientReferenceId": "140466879604",
                      "senderSourceOfFunds": "01"
                    }
                  }
                },
                "VDW Payment Received Scenario": {
                  "summary": "VDW Payment Received Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Do",
                      "firstName": "John",
                      "wallet": {
                        "countryCode": "UGA",
                        "accountIdentifier": "+8801888513100",
                        "accountIdentifierType": "PHONENUMBER",
                        "currencyCode": "UGX",
                        "operatorName": "AIRTEL_MONEY"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "122342",
                      "lastName": "Sender",
                      "firstName": "Ben",
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "postalCode": "111222",
                        "addressLine1": "addressline5",
                        "state": "CF"
                      },
                      "type": "I",
                      "industryCode": "1400"
                    },
                    "payoutMethod": "W",
                    "transactionDetail": {
                      "initiatingPartyId": 1003,
                      "businessApplicationId": "FD",
                      "transactionAmount": 1000,
                      "transactionCurrencyCode": "USD",
                      "endToEndId": "123456",
                      "clientReferenceId": "987399801024"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout response body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPayoutResponse-1"
                },
                "examples": {
                  "VDA Payment Received Scenario": {
                    "summary": "VDA Payment Received Scenario",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2022-11-16T10:36:07.000Z",
                        "settlementCurrencyCode": "GBP",
                        "payoutId": "5de56088-fdfc-31f2-83fa-fe6c3f66389b",
                        "clientReferenceId": "888852397088",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1002,
                        "fxConversionRate": 1,
                        "expectedPostingDate": "2022-11-16",
                        "destinationCurrencyCode": "GBP",
                        "transactionAmount": 1.5,
                        "transactionCurrencyCode": "GBP",
                        "settlementAmount": 1557,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 1557
                      }
                    }
                  },
                  "VDW Transaction Timeout Scenario": {
                    "summary": "VDW Transaction Timeout Scenario",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1003,
                        "clientReferenceId": "829149656561",
                        "status": "PENDING"
                      }
                    }
                  },
                  "VDA Transaction Timeout Scenario": {
                    "summary": "VDA Transaction Timeout Scenario",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1002,
                        "clientReferenceId": "140466879604",
                        "status": "PENDING"
                      }
                    }
                  },
                  "VDW Payment Received Scenario": {
                    "summary": "VDW Payment Received Scenario",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2023-05-03T11:09:51.938Z",
                        "settlementCurrencyCode": "USD",
                        "payoutId": "02af4f36-7fa0-317d-b7ac-db99a68f435e",
                        "endToEndId": "123456",
                        "clientReferenceId": "987399801024",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1003,
                        "fxConversionRate": 3613.25,
                        "expectedPostingDate": "2023-05-03",
                        "destinationCurrencyCode": "UGX",
                        "transactionAmount": 1000,
                        "transactionCurrencyCode": "USD",
                        "settlementAmount": 1000,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 3613250
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Transaction is accepted",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/202AccountPayoutCreatedResponse-1"
                    }
                  ]
                },
                "examples": {
                  "VDA Payment Received Scenario": {
                    "summary": "VDA Payment Received Scenario",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2022-11-16T10:36:07.000Z",
                        "settlementCurrencyCode": "GBP",
                        "payoutId": "5de56088-fdfc-31f2-83fa-fe6c3f66389b",
                        "clientReferenceId": "888852397088",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1002,
                        "fxConversionRate": 1,
                        "expectedPostingDate": "2022-11-16",
                        "destinationCurrencyCode": "GBP",
                        "transactionAmount": 1.5,
                        "transactionCurrencyCode": "GBP",
                        "settlementAmount": 1557,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 1557
                      }
                    }
                  },
                  "VDW Transaction Timeout Scenario": {
                    "summary": "VDW Transaction Timeout Scenario",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1003,
                        "clientReferenceId": "829149656561",
                        "status": "PENDING"
                      }
                    }
                  },
                  "VDA Transaction Timeout Scenario": {
                    "summary": "VDA Transaction Timeout Scenario",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1002,
                        "clientReferenceId": "140466879604",
                        "status": "PENDING"
                      }
                    }
                  },
                  "VDW Payment Received Scenario": {
                    "summary": "VDW Payment Received Scenario",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2023-05-03T11:09:51.938Z",
                        "settlementCurrencyCode": "USD",
                        "payoutId": "02af4f36-7fa0-317d-b7ac-db99a68f435e",
                        "endToEndId": "123456",
                        "clientReferenceId": "987399801024",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1003,
                        "fxConversionRate": 3613.25,
                        "expectedPostingDate": "2023-05-03",
                        "destinationCurrencyCode": "UGX",
                        "transactionAmount": 1000,
                        "transactionCurrencyCode": "USD",
                        "settlementAmount": 1000,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 3613250
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponses-1"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse-1"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse-1"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse-1"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse-1"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v3~1payouts/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    }
  },
  "components": {
    "schemas": {
      "QueryPayoutIdResponse200-1": {
        "required": [
          "originatorDetail",
          "transactionDetail"
        ],
        "type": "object",
        "properties": {
          "recipientDetail": {
            "type": "object",
            "properties": {
              "bank": {
                "required": [
                  "accountName",
                  "accountNumber",
                  "bankName",
                  "countryCode"
                ],
                "type": "object",
                "properties": {
                  "bankName": {
                    "maxLength": 50,
                    "minLength": 1,
                    "type": "string",
                    "description": "Recipient bank name"
                  },
                  "accountName": {
                    "maxLength": 70,
                    "minLength": 1,
                    "type": "string",
                    "description": "Recipient bank account name i.e. accountholder name as recorded on recipient bank account"
                  },
                  "countryCode": {
                    "maxLength": 3,
                    "minLength": 3,
                    "pattern": "^\\d\\d\\d$",
                    "type": "string",
                    "description": "Recipient bank account country code\nFormat: 3-digit ISO-3166 (numeric) country code"
                  },
                  "accountNumber": {
                    "maxLength": 34,
                    "minLength": 1,
                    "type": "string",
                    "description": "Recipient bank account number"
                  }
                },
                "description": "This object is only relevant for P2A transactions."
              },
              "wallet": {
                "required": [
                  "accountIdentifier",
                  "accountIdentifierType",
                  "countryCode",
                  "currencyCode"
                ],
                "type": "object",
                "properties": {
                  "countryCode": {
                    "maxLength": 3,
                    "minLength": 3,
                    "pattern": "^\\d\\d\\d$",
                    "type": "string",
                    "description": "Recipient wallet country code.\nFormat: 3-digit ISO-3166 (numeric) country code"
                  },
                  "currencyCode": {
                    "maxLength": 3,
                    "minLength": 3,
                    "type": "string",
                    "description": "Recipient wallet country code.\nFormat: 3-digit ISO-4217 (numeric) currency code"
                  },
                  "operatorName": {
                    "type": "string",
                    "description": "This identifies the non bank wallet operator that has issued the account to the recipient and is going to receive and post the funds to the recipients account. Enum provided by Visa Direct to Wallet Operator.",
                    "enum": [
                      "WECHATPAY"
                    ]
                  },
                  "accountIdentifier": {
                    "maxLength": 50,
                    "minLength": 1,
                    "type": "string",
                    "description": "This identifies the identifier of the recipients account with the wallet operator to which the funds have to be deposited. (e.g., wallet address - phone/email/custom identifier that identifies the account with the digital wallet operator)\n-\tIf EMAIL then verify whether the Email is in valid Email format\n-\tIf PHONENUMBER then verify if the value is numeric , + at the beginning of the value will be considered as valid. e.g. +65123456789 (note, refer ISO spec E.164)\n-\tIf USERNAME then check whether it is a valid string. \n\nNote - An E.164 number has three components.\n1. The prefix +.\n2. A 1-3 digit country code.\n3. A subscriber number."
                  },
                  "accountIdentifierType": {
                    "type": "string",
                    "description": "This identifies type of account Identifier. Supported values are PHONENUMBER, EMAIL, USERNAME.",
                    "enum": [
                      "PHONENUMBER",
                      "EMAIL",
                      "USERNAME"
                    ]
                  }
                },
                "description": "This object is only relevant for P2W transactions."
              }
            }
          },
          "originatorDetail": {
            "required": [
              "bankId",
              "originatorId"
            ],
            "type": "object",
            "properties": {
              "bankId": {
                "type": "integer",
                "description": "Originating bank ID is the Bank Identification Number (BIN) assigned to each Visa Member upon enrollment. If the Originator is not a Financial Institution (FI) and will be processing using a sponsor FI (i.e. Acquirer ) , this is the BIN of the sponsoring FI (Acquirer). It uniquely identifies the Bank/FI that is sponsoring the Originating Entity in Visa’s core system. Note: This is also referred to as the “Acquiring BIN” by Visa"
              },
              "originatorId": {
                "maxLength": 15,
                "minLength": 1,
                "type": "string",
                "description": "An alphanumeric field that uniquely identifies the Originating Entity for Push to Account or Push to Wallet transactions and Card Acceptor Terminal ID (CAID) for Push to Card transactions.\n\nISO20022 field name: N/A\nP2A: Mandatory \nP2W: Mandatory \nP2C: N/A"
              },
              "merchantVerificationValue": {
                "type": "integer",
                "description": "Conditional The concatenated Merchant Verification Value of Visa assigned and Acquirer assigned value is returned.\n Note: This field is present if the MVV value was included on the Send Payout request.\n\nISO20022 field name: N/A\nP2A: N/A\nP2W: N/A\nP2C: Optional"
              }
            }
          },
          "transactionDetail": {
            "required": [
              "originalTransmissionDateTime",
              "payoutId",
              "retrievalReferenceNumber",
              "status",
              "statusUpdateTime",
              "systemTraceAuditNumber",
              "transactionAmount",
              "transactionCurrencyCode"
            ],
            "type": "object",
            "properties": {
              "authId": {
                "type": "integer",
                "description": "This is a unique authorization code for an approved transaction from Issuer.\n\nISO20022 field name: N/A\nP2A: N/A\nP2W: N/A\nP2C: Optional"
              },
              "status": {
                "type": "string",
                "description": "Status of the transaction being queried\n\nP2C Valid Value are:\nCOMPLETED, IN_PROGRESS, FAILED, PENDING, CANCELLED\n\nStatus definition:\n- COMPLETED - Transaction was processed by Visa.\n- IN_PROGRESS - Transaction is in progress, being processed by Visa\n- FAILED - Transaction was received and rejected by Visa\n- PENDING - Transaction is pending for processing by Visa\n- CANCELLED - Transaction was cancelled as requested by the originating acquirer\n\nP2A Valid Value are:\nPAYMENT_RECEIVED, PENDING, PAYMENT_SENT, VALIDATION_FAILED, AWAITING_INFORMATION, PENDING_CANCELLATION, RETURNED, ERROR, DECLINED, CANCELLED\n\nP2A Status definition:\nPAYMENT_RECEIVED: Visa has acknowledged the payout instruction has been received\nPENDING : Payout request is pending validation\nPAYMENT_SENT: The payout has been submitted to the Network partner by PSP\nVALIDATION_FAILED: Payout request failed validation and will not be processed further\nAWAITING_INFORMATION: PSP is awaiting more information from Originating Entity before transaction can be processed \nPENDING_CANCELLATION: Cancel payout request is pending\nRETURNED: Payout has been returned and funds are being refunded\nERROR: Payout is in error status. Ex: HTTP 500, 404 403 etc.,\nDECLINED: Payout is declined by Visa and will not be proccessed further\nCANCELLED: Payout has been successfully cancelledn\n\nP2W Valid Value are:\nPAYMENT_RECEIVED, PENDING, PAYMENT_SENT, VALIDATION_FAILED, AWAITING_INFORMATION, PENDING_CANCELLATION, RETURNED, ERROR, DECLINED, CANCELLED\n\nP2W Status definition:\nPAYMENT_RECEIVED: Visa has acknowledged the payout instruction has been received\nPENDING : Payout request is pending validation\nPAYMENT_SENT: The payout has been submitted to the Network partner by PSP\nVALIDATION_FAILED: Payout request failed validation and will not be processed further\nAWAITING_INFORMATION: PSP is awaiting more information from Originating Entity before transaction can be processed \nPENDING_CANCELLATION: Cancel payout request is pending\nRETURNED: Payout has been returned and funds are being refunded\nERROR: Payout is in error status. Ex: HTTP 500, 404 403 etc.,\nDECLINED: Payout is declined by Visa and will not be proccessed further\nCANCELLED: Payout has been successfully cancelledn\n",
                "enum": [
                  "PAYMENT_RECEIVED",
                  "PENDING",
                  "PAYMENT_SENT",
                  "VALIDATION_FAILED",
                  "AWAITING_INFORMATION",
                  "PENDING_CANCELLATION",
                  "RETURNED",
                  "ERROR",
                  "DECLINED",
                  "CANCELLED",
                  "IN_PROGRESS",
                  "FAILED"
                ]
              },
              "payoutId": {
                "maxLength": 50,
                "minLength": 1,
                "type": "string",
                "description": "This is a unique identifier generated by the Visa for a transaction and is key field used in the subsequent messages with in the transaction set example Notification, Returns, Cancel, Exception management via VD Portal for P2A, P2W and Reversals, Chargeback, Response, Advice for P2C."
              },
              "networkId": {
                "maxLength": 4,
                "minLength": 1,
                "type": "string",
                "description": "This contains a code that identifies the network on which the transaction was processed.\n Note: This field is returned only if it is anything other than networkId value 2. Supported only in US for domestic transactions\n\nISO20022 field name: N/A\nP2A: N/A\nP2W: N/A\nP2C: Conditional"
              },
              "tokenData": {
                "type": "object",
                "properties": {
                  "accountRange": {
                    "type": "integer",
                    "description": "Contains the first 9 digits of the cardholder PAN..\nNote: Acquirers must not forward this value to their merchants after receiving it in the response message from Visa.\n\nISO20022 field name: N/A\nP2A: N/A\nP2W: N/A\nP2C: Optional"
                  },
                  "accountSuffix": {
                    "maxLength": 4,
                    "minLength": 4,
                    "type": "string",
                    "description": "Last four digits of the card number/PAN \nNote: This is only relevant for push to card payouts, where a card network token was sent by the Originating Entity in the payout request (in the recipientDetail.card.accountNumber field).\n\nISO20022 field name: n/a\nP2A: N/A\nP2W: N/A\nP2C: Optional"
                  },
                  "additionalTokenRespInfo": {
                    "maxLength": 1,
                    "minLength": 1,
                    "type": "string",
                    "description": "This field when present in the API response identifies if the transaction is eligible for token services. Valid token service values are: 1 (Token program). <br><br> This field will not be present in the response if the transaction is ineligible for token services. <br><br> ISO20022 field name: N/A P2A: N/A P2C: Optional"
                  }
                }
              },
              "endToEndId": {
                "maxLength": 35,
                "minLength": 1,
                "type": "string",
                "description": "Identifier assigned by the Originating Entity's customer to uniquely identify the transaction\n\nISO20022 field name: Payment Identification - EndtoEnd Identification"
              },
              "settlement": {
                "type": "object",
                "properties": {
                  "date": {
                    "maxLength": 10,
                    "minLength": 10,
                    "pattern": "YYYY-MM-DD",
                    "type": "string",
                    "description": "This is date when the transaction is settled between Visa and the Acquirer \n\nP2A: Conditional (Mandatory when the transaction is settled)\nP2W: N/A\nP2C: Conditional (Mandatory when the transaction is settled)"
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Contains the transaction amount converted to settlement currency, expressed in the currency specified in settlementCurrencyCode field. \n\nP2A: This field will be populated for Accelerated Settlement transactions.\nP2W: N/A\nP2C: N/A\n\nNote: The number of decimal places assumed for this field depends on the currency. Refer to the Payouts Endpoint Guide for P2A on country-specific currency minor units. Refer to SMS POS Visa & Visa Electron\nTechnical Specifications - Appendix E Country and Currency codes for P2C.\n\nExample: Currency exponent for USD is 2. If the amount is $100.99, then this field should populate “10099”. If the amount is $100.00 then this field should populate “10000”. Currency exponent for JPY is 0. If the amount is JPY 10,000, then this field should populate “10000”."
                  },
                  "currencyCode": {
                    "maxLength": 3,
                    "minLength": 3,
                    "type": "string",
                    "description": "The 3-digit ISO-4217 code in this field reflects the currency associated with the settlement amount \nFormat: 3-digit ISO-4217 (numeric) currency code\n\nP2A: This field will be populated for Accelerated Settlement transactions.\nP2W: N/A\nP2C: N/A"
                  },
                  "rateSourceId": {
                    "type": "string",
                    "description": "Contains the source ID of the foreign exchange rate applied to the derive the settlement amount in case of cross currency payment.\n\nP2A: Conditional (Mandatory when the transaction is settled via VisaNet)\nP2W: N/A\nP2C: Conditional (Mandatory when the transaction is settled)"
                  },
                  "conversionRate": {
                    "maxLength": 14,
                    "minLength": 1,
                    "pattern": "\\d{1,7}(\\.\\d{1,12})?",
                    "type": "string",
                    "description": "Contains the foreign exchange rate applied to the derive the settlement amount in case of cross currency payment.\n\nConditional (Mandatory when the transaction is settled via VisaNet)\n\nISO20022 field name: Transaction Information And Status - Remittance Information Settlement Conversion or FX Rate\n\nP2A: This field will be populated for Accelerated Settlement transactions.\nP2W: N/A\nP2C: N/A"
                  }
                }
              },
              "responseCode": {
                "type": "integer",
                "description": "Response code that provides the result of the payout request. List of valid response codes (add VDP link (https://developer.visa.com/request_response_codes#action_code))"
              },
              "returnAmount": {
                "type": "integer",
                "description": "The return amount to be paid out to the Originating Entity expressed in the currency specified in returnCurrencyCode field.\nThe amount originally assessed for settlement on the Payout will be reversed as-is in case of rejects and cancellations.\nIn case of returns from Visa's network partner on a cross-currency transaction, this value could vary from the settlement amount on the original payout.\n\nThis field will be populated for Accelerated Settlement transactions.",
                "example": 12345
              },
              "fundingStatus": {
                "type": "string",
                "description": "Funding Status of the payout transaction\n\nPossible values: \"FUNDED\" \"NOT_FUNDED\"\n\nFUNDED - Indicates that the originating entity has provided funding for the transaction and Visa Direct has allocated funds to the transaction\nNOT_FUNDED - Indicates that the originating entity has not provided funding for the transaction\n \nP2A: Conditional (will be populated after the funding has been assessed) \nP2W: Conditional (will be populated after the funding has been assessed)",
                "enum": [
                  "FUNDED",
                  "NOT_FUNDED"
                ]
              },
              "returnDateTime": {
                "pattern": "\\d\\d\\d\\d-\\d\\d-\\d\\dT\\d\\d:\\d\\d:\\d\\d\\.\\0\\0\\0Z",
                "type": "string",
                "description": "This field contains the date and time Visa has returned the payout to the Originating Entity\nFormat: YYYY-MM-DDThh:mm:ss.000Z\nExample: 2021-01-01T22:52:46.000Z\n\nISO20022 field name: Payment Return - Message Creation Date Time",
                "example": "2020-05-05T12:12:12.000Z"
              },
              "nationalNetData": {
                "type": "object",
                "properties": {
                  "reimbursementFee": {
                    "type": "number",
                    "description": "Applies to Argentina domestic data only and indicates the installment payment details for Argentina National Net Settlement Service.\n\nISO20022 field name: N/A\nP2A: N/A\nP2W: N/A\nP2C: Optional",
                    "format": "double"
                  },
                  "memberSuppliedIRF": {
                    "maxLength": 13,
                    "minLength": 1,
                    "type": "string",
                    "description": "This field contains the client-calculated interchange reimbursement fee (IRF) for countries using this capability.\n\nISO20022 field name: N/A\nP2A: N/A\nP2W: N/A\nP2C: Optional"
                  },
                  "reimbursementAttribute": {
                    "maxLength": 1,
                    "minLength": 1,
                    "type": "string",
                    "description": "Contains a code that identifies the applicable interchange reimbursement fee for a transaction. Its an optional value and if not supplied by Originating entities, Visa applies default value 0 and passes onwards to Issuers/Receiving entities.\n\nISO20022 field name: N/A\nP2A: N/A\nP2W: N/A\nP2C: Optional"
                  }
                }
              },
              "statusUpdateTime": {
                "pattern": "\\d\\d\\d\\d-\\d\\d-\\d\\dT\\d\\d:\\d\\d:\\d\\d\\.000Z",
                "type": "string",
                "description": "This is the time when latest event reflected in transactionDetail.status is processed using Visa’s clock Format: UTC time YYYY-MM-DThh:mm:ss.000Z Example: 2021-01-01T22:52:46.000Z",
                "format": "UTC time YYYY-MM-DThh:mm:ss.000Z",
                "example": "2021-01-01T22:52:46.000Z"
              },
              "clientReferenceId": {
                "maxLength": 35,
                "minLength": 1,
                "type": "string",
                "description": "Identifier assigned by the Originating Entity to uniquely identify the transaction\n\nISO20022 field name: Payment Identification - Transaction Identification"
              },
              "destinationAmount": {
                "type": "integer",
                "description": "The destination amount that will be deposited to the recipient account, expressed in the destination currency code provided in the original request. If the Originating Entity sends a payout in a currency that is not the same as the destination currency then Visa will perform FX conversion and calculate the amount to be deposited to the recipient bank account, and provide this information back to the Originating Entity.\n\nNote: The number of decimal places assumed for this field depends on the currency. Refer to the Payouts Endpoint Guide for P2A on country-specific currency minor units. Refer to SMS POS Visa & Visa Electron Technical Specifications - Appendix E Country and Currency codes for P2C.\n\nExample: Currency exponent for USD is 2. If the amount is $100.99, then this field should populate “10099”. If the amount is $100.00 then this field should populate “10000”. Currency exponent for JPY is 0. If the amount is JPY 10,000, then this field should populate “10000”."
              },
              "transactionAmount": {
                "type": "integer",
                "description": "The transaction amount to be paid out to the recipient bank account or card. Expressed in the currency specified in transaction currency code.\n\nNote: The number of decimal places assumed for this field depends on the currency. Refer to the Payouts Endpoint Guide for P2A on country-specific currency minor units. Refer to SMS POS Visa & Visa Electron Technical Specifications - Appendix E Country and Currency codes for P2C.\n\nExample: Currency exponent for USD is 2. If the transaction amount is $100.99, then this field should populate “10099”. If the transaction amount is $100.00 then this field should populate “10000”. Currency exponent for JPY is 0. If the transaction amount is JPY 10,000, then this field should populate “10000”."
              },
              "returnCurrencyCode": {
                "maxLength": 3,
                "minLength": 3,
                "type": "string",
                "description": "The 3-character ISO-4217 code in this field reflects the currency associated with the returnAmount value. It will be same as the client’s settlement currency against the original payout transaction.\n\nThis field will be populated for Accelerated Settlement transactions.",
                "example": "840"
              },
              "returnSourceAmount": {
                "type": "integer",
                "description": "The return amount as sent by Visa’s network partner in the destination country, expressed in the currency specified in returnSourceCurrencyCode field. \nThis field will be conditionally present when returnReasonDetails.type=”RETURN\".",
                "example": 12345
              },
              "expectedPostingDate": {
                "maxLength": 10,
                "minLength": 10,
                "type": "string",
                "description": "This is an estimated date by which the payout should be posted to the recipient’s account. This date should be communicated to the sender and recipient (if possible) to ensure that they know when to expect the funds\nConditional (Mandatory for an approved transaction) \nP2C: N/A",
                "format": "YYYY-MM-DD"
              },
              "feeProgramIndicator": {
                "maxLength": 3,
                "minLength": 3,
                "type": "string",
                "description": "Contains the fee program indicator, which is used to assess the Interchange Fee Amount in certain scenarios\n\nISO20022 field name: n/a\nP2A: N/A\nP2W: N/A\nP2C: Optional"
              },
              "returnReasonDetails": {
                "type": "object",
                "properties": {
                  "code": {
                    "maxLength": 5,
                    "minLength": 5,
                    "type": "string",
                    "description": "Indicates the return reason code when the payout is returned."
                  },
                  "type": {
                    "type": "string",
                    "description": "Indicates the PSP return type when the payout is returned.",
                    "enum": [
                      "REJECT",
                      "RETURN"
                    ]
                  },
                  "description": {
                    "maxLength": 105,
                    "minLength": 1,
                    "type": "string",
                    "description": "Indicates the PSP return description when the payout is returned."
                  }
                }
              },
              "returnConversionRate": {
                "maxLength": 14,
                "type": "string",
                "description": "This field contains the exchange rate applied to convert returnSourceAmount to returnAmount.\n\nThis field will be populated for Accelerated Settlement transactions.",
                "format": "\\d{1,7}(\\.\\d{1,12})?"
              },
              "serviceProcessingType": {
                "required": [
                  "requestType"
                ],
                "type": "object",
                "properties": {
                  "requestType": {
                    "maxLength": 2,
                    "minLength": 2,
                    "type": "string",
                    "description": "Reserved for future use.</br></br>P2A: N/A P2C: Optional"
                  }
                },
                "description": "This field will contain values that identifies the type of service assigned for the transaction."
              },
              "transactionIdentifier": {
                "maxLength": 15,
                "minLength": 15,
                "type": "string",
                "description": "Visa-generated Transaction Identifier that is unique for each original authorization and financial request. The identifier links original messages to subsequent messages, such as those for exception item processing and clearing records. It can also be used to match the payouts to settlement reports."
              },
              "systemTraceAuditNumber": {
                "maxLength": 6,
                "minLength": 6,
                "type": "string",
                "description": "This field contains a number assigned by the Originating Entity that uniquely identifies a transaction and all message types. The trace number is a key data element used to match a response to its request or to match a message to others for a given transaction set"
              },
              "destinationCurrencyCode": {
                "maxLength": 3,
                "minLength": 3,
                "type": "string",
                "description": "The 3-digit ISO-4217 code in this field reflects the currency associated with the destination amount \nFormat: 3-digit ISO-4217 (numeric) currency code\n\nP2A: Optional \nP2W: Optional \nP2C: N/A"
              },
              "transactionCurrencyCode": {
                "maxLength": 3,
                "minLength": 3,
                "type": "string",
                "description": "The 3-digit ISO-4217 code in this field reflects the currency associated to the transaction amount Format: 3-digit ISO-4217 (numeric) currency code"
              },
              "retrievalReferenceNumber": {
                "maxLength": 12,
                "minLength": 12,
                "pattern": "^\\d{12}$",
                "type": "string",
                "description": "This is a unique identifier generated by the Originating Entity for a transaction and its one of the key fields for matching a transaction with the subsequent messages with in the transaction set example Notification, Returns, Cancel, Exception management via VD Portal for P2A, P2W and Reversals, Chargeback, Response, Advice for P2C.\n\nThe format is recommended to be ydddhhnnnnnn yddd - The first four digits must be a valid Julian date format, where the first digit = 0-9 (last digit of current year) and the next three digits = 001-366 (number of the day in the year). hh - can be the two digit hour in a 24 hour clock (00-23) during which the transaction is performed. nnnnnn - can be the systemsTraceAuditNumber or any 6 digit number"
              },
              "returnSourceCurrencyCode": {
                "maxLength": 3,
                "minLength": 3,
                "type": "string",
                "description": "The 3-character ISO-4217 code in this field reflects the currency associated with the returnSourceAmount value. It will be same as the destination currency on the original payout transaction. \nThis field will be conditionally present when returnReasonDetails.type=”RETURN\".",
                "example": "840"
              },
              "destinationConversionRate": {
                "maxLength": 14,
                "type": "string",
                "description": "This field contains the exchange rate applied to convert transactionAmount to destinationAmount.",
                "format": "\\d{1,7}(\\.\\d{1,12})?"
              },
              "originalTransmissionDateTime": {
                "type": "string",
                "description": "The time the request was received by Visa",
                "format": "YYYY-MM-DDThh:mm:ss.sssZ"
              }
            }
          }
        }
      },
      "AlphaCountryCode": {
        "maxLength": 3,
        "minLength": 3,
        "type": "string",
        "description": "3-character ISO-3166 (Alpha-3) country code.",
        "example": "USA"
      },
      "PayoutNotificationReceivedRequest-1": {
        "required": [
          "transactionDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "$ref": "#/components/schemas/PayoutMethod"
          },
          "transactionDetail": {
            "required": [
              "clientReferenceId",
              "destinationAmount",
              "destinationCurrencyCode",
              "initiatingPartyId",
              "notificationDateTime",
              "payoutId",
              "settlementAmount",
              "settlementCurrencyCode",
              "status",
              "transactionAmount",
              "transactionCurrencyCode",
              "transactionDateTime"
            ],
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status of the transaction, only received in 202\n- PAYMENT_RECEIVED: Visa has acknowledged the payout instruction has been received. Only happens in 202.\nISO20022 field name: Transaction Information And Status - Transaction Status\n",
                "example": "PAYMENT_RECEIVED",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PayoutNotificationRequestStatus"
                  }
                ],
                "enum": [
                  "PAYMENT_RECEIVED"
                ]
              },
              "payoutId": {
                "description": "This is a unique identifier generated by the Visa for the original payout\n\nISO20022 field name: Transaction Information And Status - Original Additional Remittance Information\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PayoutId"
                  }
                ]
              },
              "endToEndId": {
                "$ref": "#/components/schemas/EndToEndId"
              },
              "payoutSpeed": {
                "$ref": "#/components/schemas/PayoutSpeed"
              },
              "fxConversionRate": {
                "description": "This field contains the exchange rate applied to the pair of settlementCurrencyCode and destinationCurrencyCode\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConversionRate"
                  }
                ]
              },
              "settlementAmount": {
                "description": "This is the amount to be debited from Originating Entity/Visa Client's funding account.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "clientReferenceId": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ClientReferenceId-1"
                  }
                ]
              },
              "destinationAmount": {
                "description": "The destination amount that will be deposited to the beneficiary account, expressed in the destination currency code provided in the original request. If the Originating Entity sends a payout in a currency that is not the same as the destination currency then Visa will perform FX conversion and calculate the amount to be deposited to the beneficiary bank account, and provide this information back to the Originating Entity.\n\nNote: Transaction amount can have decimal point for currencies that allow it. Refer to the Payouts Endpoint Guide for Payout on country-specific currency minor units. \n\nExample: Currency exponent for USD is 2, the amount is $100.99. Currency exponent for JPY is 0. If the amount is JPY 10,000, then this field should populate “10000”.\n\nISO20022 field name: Transaction Information And Status - Remitted Amount\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "initiatingPartyId": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InitiatingPartyId-1"
                  }
                ]
              },
              "transactionAmount": {
                "description": "The amount to debit from merchant's funding account or credit to beneficiary's bank account.\n\nNote: Transaction amount can have decimal point for currencies that allow it. Refer to the Payouts Endpoint Guide for Payout on country-specific currency minor units. \n\nExample: Currency exponent for USD is 2, the amount is $100.99. Currency exponent for JPY is 0. If the amount is JPY 10,000, then this field should populate “10000”.\n\nISO20022 field name: Instructed Amount\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "expectedPostingDate": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExpectedPostingDate-1"
                  }
                ]
              },
              "transactionDateTime": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TimestampType"
                  }
                ]
              },
              "notificationDateTime": {
                "$ref": "#/components/schemas/TimestampType"
              },
              "settlementCurrencyCode": {
                "description": "The settlement currency code\n\nThe 3-character ISO-4217 code in this field reflects the currency for the Settlement amount to be debited from Originating Entity/Visa Client's funding account.\n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nExample: GBP\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              },
              "destinationCurrencyCode": {
                "description": "The 3-character ISO-4217 code in this field reflects the currency associated with the destination amount \n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nISO20022 field name: Transaction Information And Status - Remitted Amount Currency Code\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              },
              "transactionCurrencyCode": {
                "description": "The 3-character ISO-4217 code in this field reflects the currency associated to the transaction amount \n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nISO20022 field name: Transaction Information And Status - Instructed Amount Currency Code\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              }
            }
          }
        }
      },
      "WalletPayoutRequest": {
        "required": [
          "transactionDetail"
        ],
        "properties": {
          "transactionDetail": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletTransactionDetail"
              }
            ]
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/PayoutWalletRequest"
          }
        ]
      },
      "PayoutNotificationReceivedRequest-2": {
        "required": [
          "transactionDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "$ref": "#/components/schemas/PayoutMethod"
          },
          "transactionDetail": {
            "required": [
              "clientReferenceId",
              "destinationAmount",
              "destinationCurrencyCode",
              "initiatingPartyId",
              "notificationDateTime",
              "payoutId",
              "settlementAmount",
              "settlementCurrencyCode",
              "status",
              "transactionAmount",
              "transactionCurrencyCode",
              "transactionDateTime"
            ],
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status of the transaction, only received in 202\n- PAYMENT_RECEIVED: Visa has acknowledged the payout instruction has been received. Only happens in 202.\nISO20022 field name: Transaction Information And Status - Transaction Status\n",
                "example": "PAYMENT_RECEIVED",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PayoutNotificationRequestStatus"
                  }
                ],
                "enum": [
                  "PAYMENT_RECEIVED"
                ]
              },
              "payoutId": {
                "description": "This is a unique identifier generated by the Visa for the original payout\n\nISO20022 field name: Transaction Information And Status - Original Additional Remittance Information\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PayoutId"
                  }
                ]
              },
              "endToEndId": {
                "$ref": "#/components/schemas/EndToEndId"
              },
              "payoutSpeed": {
                "$ref": "#/components/schemas/PayoutSpeed"
              },
              "fxConversionRate": {
                "description": "This field contains the exchange rate applied to the pair of settlementCurrencyCode and destinationCurrencyCode\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConversionRate"
                  }
                ]
              },
              "settlementAmount": {
                "description": "This is the amount to be debited from Originating Entity/Visa Client's funding account.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "clientReferenceId": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ClientReferenceId"
                  }
                ]
              },
              "destinationAmount": {
                "description": "The destination amount that will be deposited to the recipient account, expressed in the destination currency code provided in the original request. If the Originating Entity sends a payout in a currency that is not the same as the destination currency then Visa will perform FX conversion and calculate the amount to be deposited to the recipient bank account, and provide this information back to the Originating Entity.\n\nNote: Transaction amount can have decimal point for currencies that allow it. Refer to the Visa Direct Endpoint Guide for Payout on country-specific currency minor units. \n\nExample: Currency exponent for USD is 2, the amount is $100.99. Currency exponent for JPY is 0. If the amount is JPY 10,000, then this field should populate “10000”.\n\nISO20022 field name: Transaction Information And Status - Remitted Amount\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "initiatingPartyId": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InitiatingPartyId"
                  }
                ]
              },
              "transactionAmount": {
                "description": "The amount to debit from merchant's funding account or credit to recipient's bank account.\n\nNote: Transaction amount can have decimal point for currencies that allow it. Refer to the Visa Direct Endpoint Guide for Payout on country-specific currency minor units. \n\nExample: Currency exponent for USD is 2, the amount is $100.99. Currency exponent for JPY is 0. If the amount is JPY 10,000, then this field should populate “10000”.\n\nISO20022 field name: Instructed Amount\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "expectedPostingDate": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExpectedPostingDate"
                  }
                ]
              },
              "transactionDateTime": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TimestampType"
                  }
                ]
              },
              "notificationDateTime": {
                "$ref": "#/components/schemas/TimestampType"
              },
              "settlementCurrencyCode": {
                "description": "The settlement currency code\n\nThe 3-character ISO-4217 code in this field reflects the currency for the Settlement amount to be debited from Originating Entity/Visa Client's funding account.\n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nExample: GBP\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              },
              "destinationCurrencyCode": {
                "description": "The 3-character ISO-4217 code in this field reflects the currency associated with the destination amount \n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nISO20022 field name: Transaction Information And Status - Remitted Amount Currency Code\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              },
              "transactionCurrencyCode": {
                "description": "The 3-character ISO-4217 code in this field reflects the currency associated to the transaction amount \n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nISO20022 field name: Transaction Information And Status - Instructed Amount Currency Code\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              }
            }
          }
        }
      },
      "OneOfFieldsClientDriven": {
        "type": "array",
        "description": "At least one of the 'fields'/'oneOfFields'/'anyOfFields' groups will be populated.\n",
        "items": {
          "required": [
            "fields"
          ],
          "type": "object",
          "properties": {
            "fields": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/FieldClientDriven"
              }
            }
          }
        }
      },
      "PayoutAccountRequest-10": {
        "required": [
          "payoutMethod",
          "recipientDetail",
          "senderDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "description": "Originating Entity must indicate the payout method i.e. To Account or Wallet\n\nValid values:\n“B” – Visa Direct Account\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/PayoutMethod"
              }
            ]
          },
          "senderDetail": {
            "required": [
              "address"
            ],
            "properties": {
              "address": {
                "$ref": "#/components/schemas/SenderAccountPayoutAddress-1"
              },
              "contactEmail": {
                "description": "Sender email address\n\nISO20022 field name:<br>For 4th  party payments: \"Ultimate Debtor Contact Email Address\" <br>For 3rd party payments: \"Debtor Contact Email Address\"\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Sender contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber-2"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/SenderAdditionalData-1"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              },
              "identificationList": {
                "$ref": "#/components/schemas/SenderIdentificationList-2"
              },
              "senderAccountNumber": {
                "$ref": "#/components/schemas/SenderAccountNumber"
              },
              "senderReferenceNumber": {
                "$ref": "#/components/schemas/SenderReferenceNumber"
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/SenderTransactorDetail-3"
              }
            ]
          },
          "recipientDetail": {
            "required": [
              "bank"
            ],
            "properties": {
              "bank": {
                "$ref": "#/components/schemas/Bank-1"
              },
              "contactEmail": {
                "description": "Recipient email address\n\nISO20022 field name: Ultimate Creditor Contact Email Address\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Recipient contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber-2"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/RecipientAdditionalData-1"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              },
              "identificationList": {
                "properties": {
                  "idType": {
                    "description": "Recipient identification type (issued by a government or similar authority) needs to be provided by Originating Entity along with the payment in certain markets. \n\nValid values : \n* P- Passport \n* D-Driving License \n* N-National Id \n* T-Tax Id \n* L-Legal Entity Registration Number \n* F-Foreign Id\n\nConditional (Refer to Visa Direct Endpoint Guide on country-specific required fields and lengths)\n\nISO20022 field name: \"Creditor Private Identification Code\" or \"Creditor Organisation Identification Code\"\n"
                  }
                },
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RecipientIdentificationList-1"
                  }
                ]
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/RecipientTransactorDetail-2"
              }
            ]
          }
        }
      },
      "TotalAmountDue": {
        "type": "number",
        "description": "Total amount due by due date.",
        "format": "double"
      },
      "FlexibleAmountRemaining": {
        "type": "number",
        "description": "Remaining amount of liquidity available.",
        "format": "double"
      },
      "PayoutDigitalAssetRequestAltered": {
        "required": [
          "recipientDetail",
          "senderDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "type": "string",
            "description": "This field indicates the payout method i.e. Digital Asset\nValid values:\n- \"D\" Visa Direct Digital Asset\n",
            "enum": [
              "D"
            ]
          },
          "senderDetail": {
            "required": [
              "address"
            ],
            "properties": {
              "address": {
                "$ref": "#/components/schemas/SenderAccountPayoutAddress-1"
              },
              "senderAccountNumber": {
                "$ref": "#/components/schemas/SenderAccountNumber-1"
              },
              "senderReferenceNumber": {
                "$ref": "#/components/schemas/SenderReferenceNumber-1"
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/DigitalAssetSenderTransactorDetailWithID"
              }
            ]
          },
          "recipientDetail": {
            "required": [
              "digitalAsset"
            ],
            "properties": {
              "digitalAsset": {
                "$ref": "#/components/schemas/DigitalAsset"
              },
              "countryOfBirth": {
                "$ref": "#/components/schemas/AlphaCountryCode"
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/DigitalAssetRecipientTransactorDetailWithID"
              }
            ]
          }
        }
      },
      "WalletQueryPendingOnlyCancelledResponse-1": {
        "required": [
          "transactionDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "$ref": "#/components/schemas/PayoutMethod"
          },
          "transactionDetail": {
            "required": [
              "clientReferenceId",
              "initiatingPartyId",
              "status"
            ],
            "properties": {
              "status": {
                "$ref": "#/components/schemas/PendingCancelledTransactionStatus"
              },
              "clientReferenceId": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ClientReferenceId"
                  }
                ]
              },
              "initiatingPartyId": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InitiatingPartyId"
                  }
                ]
              }
            }
          }
        },
        "description": "Transaction is in pending or cancelled (cancelled during pending) status."
      },
      "PayoutWalletRequest-3": {
        "required": [
          "payoutMethod",
          "recipientDetail",
          "senderDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "description": "Originating Entity must indicate the payout method i.e. To Account or Wallet\n\nValid values:\n“W” – Visa Direct Wallet\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/PayoutMethod"
              }
            ]
          },
          "senderDetail": {
            "required": [
              "address"
            ],
            "properties": {
              "address": {
                "$ref": "#/components/schemas/SenderAccountPayoutAddress-1"
              },
              "contactEmail": {
                "description": "Sender email address\n\nISO20022 field name:<br>For 4th  party payments: \"Ultimate Debtor Contact Email Address\" <br>For 3rd party payments:\"Debtor Contact Email Address\"\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Sender contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber-1"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/SenderAdditionalData-1"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              },
              "senderAccountNumber": {
                "$ref": "#/components/schemas/SenderAccountNumber-1"
              },
              "senderReferenceNumber": {
                "$ref": "#/components/schemas/SenderReferenceNumber-1"
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletSenderTransactorDetailWithID"
              }
            ]
          },
          "recipientDetail": {
            "required": [
              "wallet"
            ],
            "properties": {
              "wallet": {
                "$ref": "#/components/schemas/Wallet-1"
              },
              "contactEmail": {
                "description": "Recipient email address\n\nISO20022 field name: Ultimate Creditor Contact Email Address\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Recipient contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber-1"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/RecipientAdditionalData-1"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletRecipientTransactorDetailWithID-2"
              }
            ]
          }
        }
      },
      "PayoutWalletRequest-4": {
        "required": [
          "payoutMethod",
          "recipientDetail",
          "senderDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "description": "Originating Entity must indicate the payout method i.e. To Account or Wallet\n\nValid values:\n“W” – Visa Direct Wallet\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/PayoutMethod"
              }
            ]
          },
          "senderDetail": {
            "required": [
              "address"
            ],
            "properties": {
              "address": {
                "$ref": "#/components/schemas/SenderAccountPayoutAddress-1"
              },
              "contactEmail": {
                "description": "Sender email address\n\nISO20022 field name:<br>For 4th  party payments: \"Ultimate Debtor Contact Email Address\" <br>For 3rd party payments:\"Debtor Contact Email Address\"\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Sender contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber-1"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/SenderAdditionalData-1"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              },
              "senderAccountNumber": {
                "$ref": "#/components/schemas/SenderAccountNumber-1"
              },
              "senderReferenceNumber": {
                "$ref": "#/components/schemas/SenderReferenceNumber-1"
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletSenderTransactorDetailWithID"
              }
            ]
          },
          "recipientDetail": {
            "required": [
              "wallet"
            ],
            "properties": {
              "wallet": {
                "$ref": "#/components/schemas/Wallet-1"
              },
              "contactEmail": {
                "description": "Recipient email address\n\nISO20022 field name: Ultimate Creditor Contact Email Address\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Recipient contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber-1"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/RecipientAdditionalData-1"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletRecipientTransactorDetailWithID-3"
              }
            ]
          }
        }
      },
      "PayoutWalletRequest-1": {
        "required": [
          "payoutMethod",
          "recipientDetail",
          "senderDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "description": "Originating Entity must indicate the payout method i.e. To Account or Wallet\n\nValid values:\n“W” – Visa Direct Wallet\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/PayoutMethod-1"
              }
            ]
          },
          "senderDetail": {
            "required": [
              "address"
            ],
            "properties": {
              "address": {
                "$ref": "#/components/schemas/SenderAccountPayoutAddress-1"
              },
              "contactEmail": {
                "description": "Sender email address\n\nISO20022 field name:<br>For 4th  party payments: \"Ultimate Debtor Contact Email Address\" <br>For 3rd party payments:\"Debtor Contact Email Address\"\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Sender contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber-1"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/SenderAdditionalData-1"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              },
              "senderAccountNumber": {
                "$ref": "#/components/schemas/SenderAccountNumber-1"
              },
              "senderReferenceNumber": {
                "$ref": "#/components/schemas/SenderReferenceNumber-1"
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletSenderTransactorDetailWithID"
              }
            ]
          },
          "recipientDetail": {
            "required": [
              "wallet"
            ],
            "properties": {
              "wallet": {
                "$ref": "#/components/schemas/Wallet-1"
              },
              "contactEmail": {
                "description": "Recipient email address\n\nISO20022 field name: Ultimate Creditor Contact Email Address\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Recipient contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber-1"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/RecipientAdditionalData-1"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletRecipientTransactorDetailWithID"
              }
            ]
          }
        }
      },
      "PayoutWalletRequest-2": {
        "required": [
          "payoutMethod",
          "recipientDetail",
          "senderDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "description": "Originating Entity must indicate the payout method i.e. To Account or Wallet\n\nValid values:\n“W” – Visa Direct Wallet\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/PayoutMethod"
              }
            ]
          },
          "senderDetail": {
            "required": [
              "address"
            ],
            "properties": {
              "address": {
                "$ref": "#/components/schemas/SenderAccountPayoutAddress-1"
              },
              "contactEmail": {
                "description": "Sender email address\n\nISO20022 field name:<br>For 4th  party payments: \"Ultimate Debtor Contact Email Address\" <br>For 3rd party payments:\"Debtor Contact Email Address\"\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Sender contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber-1"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/SenderAdditionalData-1"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              },
              "senderAccountNumber": {
                "$ref": "#/components/schemas/SenderAccountNumber-1"
              },
              "senderReferenceNumber": {
                "$ref": "#/components/schemas/SenderReferenceNumber-1"
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletSenderTransactorDetailWithID"
              }
            ]
          },
          "recipientDetail": {
            "required": [
              "wallet"
            ],
            "properties": {
              "wallet": {
                "$ref": "#/components/schemas/Wallet-1"
              },
              "contactEmail": {
                "description": "Recipient email address\n\nISO20022 field name: Ultimate Creditor Contact Email Address\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Recipient contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber-1"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/RecipientAdditionalData-1"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletRecipientTransactorDetailWithID-1"
              }
            ]
          }
        }
      },
      "PayoutSpeed": {
        "type": "string",
        "description": "Originating Entity to indicate the desired payout speed for the payment. Currently supported value is \"STANDARD\". This field will be enhanced in future to include additional speed options\n\nISO20022 field name: Instruction Priority\n",
        "example": "standard",
        "enum": [
          "STANDARD",
          "PREMIUM"
        ]
      },
      "RecipientAdditionalData": {
        "type": "array",
        "description": "Additional fields that are needed in order to complete the additional screening. The additional fields can be included as name value pairs (Field name, Field value)",
        "items": {
          "required": [
            "name",
            "value"
          ],
          "type": "object",
          "properties": {
            "name": {
              "description": "Originating Entity to send additional recipient information needed in order to process the payment. The additional fields can be included as name value pairs (Field name, Field value). This field represents the name component of the name-value pair.\n\nConditional (Refer to Payouts Endpoint Guide on country-specific required fields and lengths)\n",
              "allOf": [
                {
                  "$ref": "#/components/schemas/AdditionalDataName"
                }
              ]
            },
            "value": {
              "description": "Originating Entity to send additional recipient information needed in order to process the payment. The additional fields can be included as name value pairs (Field name, Field value). This field represents the value  component of the name-value pair.\n\nConditional (Refer to Payouts Endpoint Guide on country-specific required fields and lengths)\n",
              "allOf": [
                {
                  "$ref": "#/components/schemas/AdditionalDataValue"
                }
              ]
            }
          }
        }
      },
      "ValidatePayoutWalletOnlyRequest": {
        "required": [
          "transactionDetail"
        ],
        "properties": {
          "transactionDetail": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ValidateWalletTransactionDetail-1"
              }
            ]
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/PayoutToWalletRequest"
          }
        ]
      },
      "TotalAmountOverdueSettlementDueBreached": {
        "type": "number",
        "description": "Total amount currently overdue. This represents only the amounts that have actually breached their due date/time, excluding any future-dated amounts that are not yet due.",
        "format": "double"
      },
      "FieldValue": {
        "title": "FieldValue",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "List item label."
          },
          "option": {
            "type": "string",
            "description": "List option value."
          }
        },
        "description": "Is used to create a select list within a User Interface for the 'additionalFieldWithValues' data field."
      },
      "IndividualRecipientIdentificationListAccount": {
        "type": "array",
        "description": "Identification list of recipient",
        "items": {
          "type": "object",
          "properties": {
            "idType": {
              "description": "Recipient identification type (issued by a government or similar authority) needs to be provided by Originating Entity along with the payment in certain markets. \n\nValid values : \n* P- Passport \n* D-Driving License \n* N-National Id \n* T-Tax Id \n* F-Foreign Id            \n\nConditional (Refer to Visa Direct Endpoint Guide on country-specific required fields and lengths)\n\nISO20022 field name: \"Creditor Private Identification Code\" or \"Creditor Organisation Identification Code\"\n",
              "allOf": [
                {
                  "$ref": "#/components/schemas/IndividualIdTypeAccount"
                }
              ]
            },
            "idNumber": {
              "description": "Recipient identification number (issued by a government or similar authority) needs to be provided by Originating Entity along with the payment in certain markets. \n\nConditional (Refer to Visa Direct Endpoint Guide on country-specific required fields and lengths)\n\nISO20022 field name: \"Creditor Private Identification\" or \"Creditor Organisation Identification\"\n",
              "allOf": [
                {
                  "$ref": "#/components/schemas/IdNumber"
                }
              ]
            },
            "idIssueCountry": {
              "description": "Recipient identification issuing country needs to be provided by Originating Entity along with the payment in certain markets. \n\nFormat: 3-character ISO (Alpha-3) country code\n\nConditional (Refer to Visa Direct Endpoint Guide on country-specific required fields and lengths)\n\nISO20022 field name: \"Creditor Private Identification Issuer Country\" or \"Creditor Organisation Identification Issuer Country\"\n",
              "example": "US",
              "allOf": [
                {
                  "$ref": "#/components/schemas/AlphaCountryCode"
                }
              ]
            }
          }
        }
      },
      "PayoutWalletRequest-7": {
        "required": [
          "payoutMethod",
          "recipientDetail",
          "senderDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "description": "Originating Entity must indicate the payout method i.e. To Account or Wallet\n\nValid values:\n“W” – Visa Direct Wallet\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/PayoutMethod"
              }
            ]
          },
          "senderDetail": {
            "required": [
              "address"
            ],
            "properties": {
              "address": {
                "$ref": "#/components/schemas/SenderAccountPayoutAddress-1"
              },
              "contactEmail": {
                "description": "Sender email address\n\nISO20022 field name:<br>For 4th  party payments: \"Ultimate Debtor Contact Email Address\" <br>For 3rd party payments:\"Debtor Contact Email Address\"\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Sender contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber-1"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/SenderAdditionalData-1"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              },
              "senderAccountNumber": {
                "$ref": "#/components/schemas/SenderAccountNumber-1"
              },
              "senderReferenceNumber": {
                "$ref": "#/components/schemas/SenderReferenceNumber-1"
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletSenderTransactorDetailWithID"
              }
            ]
          },
          "recipientDetail": {
            "required": [
              "wallet"
            ],
            "properties": {
              "wallet": {
                "$ref": "#/components/schemas/Wallet-1"
              },
              "contactEmail": {
                "description": "Recipient email address\n\nISO20022 field name: Ultimate Creditor Contact Email Address\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Recipient contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber-1"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/RecipientAdditionalData-1"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletRecipientTransactorDetailWithID-6"
              }
            ]
          }
        }
      },
      "PayoutWalletRequest-8": {
        "required": [
          "payoutMethod",
          "recipientDetail",
          "senderDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "description": "Originating Entity must indicate the payout method i.e. To Account or Wallet\n\nValid values:\n“W” – Visa Direct Wallet\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/PayoutMethod"
              }
            ]
          },
          "senderDetail": {
            "required": [
              "address"
            ],
            "properties": {
              "address": {
                "$ref": "#/components/schemas/SenderAccountPayoutAddress-2"
              },
              "contactEmail": {
                "description": "Sender email address\n\nISO20022 field name: Ultimate Debtor Contact Email Address\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Sender contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "example": 447700123456,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/SenderAdditionalData"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              },
              "identificationList": {
                "$ref": "#/components/schemas/SenderIdentificationList-1"
              },
              "senderAccountNumber": {
                "$ref": "#/components/schemas/SenderAccountNumber"
              },
              "senderReferenceNumber": {
                "$ref": "#/components/schemas/SenderReferenceNumber"
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/SenderTransactorDetail-1"
              }
            ]
          },
          "recipientDetail": {
            "required": [
              "wallet"
            ],
            "properties": {
              "wallet": {
                "$ref": "#/components/schemas/Wallet"
              },
              "contactEmail": {
                "description": "Recipient email address\n\nISO20022 field name: Ultimate Creditor Contact Email Address\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Recipient contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456 \n",
                "example": 447700123456,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/RecipientAdditionalData"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              },
              "identificationList": {
                "properties": {
                  "idType": {
                    "description": "Recipient identification type (issued by a government or similar authority) needs to be provided by Originating Entity along with the payment in certain markets. \n\nValid values : \n* P- Passport \n* D-Driving License \n* N-National Id \n* T-Tax Id \n* L-Legal Entity Registration Number \n* F-Foreign Id\n\nConditional (Refer to Payouts Endpoint Guide on country-specific required fields and lengths)\n\nISO20022 field name: Creditor Identification Code\n"
                  }
                },
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RecipientIdentificationList-2"
                  }
                ]
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/RecipientTransactorDetail-1"
              }
            ]
          }
        }
      },
      "PayoutWalletRequest-5": {
        "required": [
          "payoutMethod",
          "recipientDetail",
          "senderDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "description": "Originating Entity must indicate the payout method i.e. To Account or Wallet\n\nValid values:\n“W” – Visa Direct Wallet\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/PayoutMethod"
              }
            ]
          },
          "senderDetail": {
            "required": [
              "address"
            ],
            "properties": {
              "address": {
                "$ref": "#/components/schemas/SenderAccountPayoutAddress-1"
              },
              "contactEmail": {
                "description": "Sender email address\n\nISO20022 field name:<br>For 4th  party payments: \"Ultimate Debtor Contact Email Address\" <br>For 3rd party payments:\"Debtor Contact Email Address\"\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Sender contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactNumber-1"
                  }
                ]
              },
              "additionalData": {
                "$ref": "#/components/schemas/SenderAdditionalData-1"
              },
              "contactNumberType": {
                "type": "string",
                "enum": [
                  "MOBILE",
                  "WORK",
                  "HOME"
                ]
              },
              "senderAccountNumber": {
                "$ref": "#/components/schemas/SenderAccountNumber-1"
              },
              "senderReferenceNumber": {
                "$ref": "#/components/schemas/SenderReferenceNumber-1"
              }
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletSenderTransactorDetailWithID"
              }
            ]
          },
          "recipientDetail": {
            "required": [
              "wallet"
            ],
            "properties": {
              "wallet": {
                "$ref": "#/components/schemas/Wallet-1"
              },
              "contactEmail": {
                "description": "Recipient email address\n\nISO20022 field name: Ultimate Creditor Contact Email Address\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactEmail"
                  }
                ]
              },
              "contactNumber": {
                "description": "Recipient contact number\n+ symbol followed by digits, no other symbols, e.g. +447700123456\n",
                "allOf": [
                  {
[...]
